.list-items-container {
  display: flex;
  flex-direction: column;
  gap: 7px;

}

.list-item-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.list-item-title {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: var(--white-color);
}

.list-item-icon {
  width: 20px;
  height: 20px;
  color: var(--white-color);
}
