@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --prim-color: #F5EEF3;
  --pot-pourri-color: #F7EAE9;
  --feta-color: #F1FCF0;
  --linen-color: #FCF8EF;
  --aqua-haze-color: #EEF4F5;
  --linen-dark-color: #FAEEE1;
  --polar-color: #F0FCF9;
  --selago-color: #EFF0FC;
  --mine-shaft-color: #231F1F;
  --white-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
